.left{
    position: relative;
}

.container{
    background-color: #FFFFFF;
    width:28vw; 
    height: 100vh;
    position: relative;
}

.heading{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

.list{
    overflow: auto;
    height: 85vh;
    font-size: 1.2rem;
    font-weight: 500;
}

.list::-webkit-scrollbar {
    width: 10px;
  }
  
  .list::-webkit-scrollbar-track {
    background: #D9D9D9; 
    border-radius: 20px;  

  }
  
  .list::-webkit-scrollbar-thumb {
    background-color: #ffffff;  
    border-radius: 20px;
  }

.plus{
    position: sticky;
    bottom: 40px;
    left: 160px;
    margin-right: 20px;
    display: flex;
    justify-content: end;
}

.plusBtn{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    font-size: 4rem;
    color: #FFFFFF;
    background-color: #16008B;
    border: none;
}

.list li{
    margin: 20px 0 20px 20px;
    margin-left: 20px;
    /* padding: 10px; */
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 40px;
}

.icon{
    border-radius: 50%;
    color: #ffffff;
    height:70px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.listItem{
    overflow-wrap: anywhere;
}

.selected{
    background-color: #2F2F2F2B;
    border-radius: 15px;
}


@media only screen and (max-width: 430px){
    .container{
        width:100vw; 
        height: 100vh;
    }
}

@media only screen and (max-width: 768px){
    .container{
        width:100vw; 
        height: 100vh;
    }
    .list{
        margin-left: 20px;
    }
}