*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

.components{
    height: 100vh;
    display: flex;
    position: relative;
    z-index: 0;
}

.modal{
    position: relative;
    z-index: 1;
    top: -100vh;
}